<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Muhammad Azizul Hoque Jiku" />
    <meta name="owner" content="learnwithsumit.com" />
    <title><%= title %></title>
    <link rel="shortcut icon" href="./images/favicon.png" />
    <link rel="stylesheet" href="./stylesheets/toastify.css" />
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <script src="./js/toastify.js"></script>
    <script src="./js/moment.js"></script>
  </head>
  <body>
    <div class="menu">
      <% if (loggedInUser && loggedInUser.username) { %>
      <div class="menu-item"><a href="/inbox">Inbox</a></div>
      <% if (loggedInUser && loggedInUser.role === 'admin') { %>
      <div class="menu-item"><a href="/users">Users</a></div>
      <% } %>
      <div class="menu-item">
        <% if (loggedInUser && loggedInUser.avatar) { %>
        <img
          src="./uploads/avatars/<%= loggedInUser.avatar %>"
          alt="<%= loggedInUser.username %>"
        />
        <% } else { %>
        <img src="./images/nophoto.png" alt="<%= loggedInUser.username %>" />
        <% } %>
        <a href="#" onclick="logout()">Logout</a>
      </div>
      <% } else { %>
      <div class="menu-item"><a href="/inbox">Inbox</a></div>
      <div class="menu-item"><a href="/users">Users</a></div>
      <div class="menu-item"><a href="/">Login</a></div>
      <% } %>
    </div>
    <script>
      // toast
      const logoutToast = Toastify({
        text: 'You are being logged out...',
        duration: 1000,
      });

      function logout() {
        // Show logout toast
        logoutToast.showToast();

        // Make request with credentials to ensure cookies are sent
        fetch('/logout', {
          method: 'GET',
          headers: {
            Accept: 'application/json',
          },
          credentials: 'same-origin', // Important for cookie operations
        })
          .then((response) => {
            // Handle both JSON and non-JSON responses
            const contentType = response.headers.get('content-type');
            if (contentType && contentType.includes('application/json')) {
              return response.json().then((data) => {
                console.log('Logout successful:', data.message);
                window.location.href = '/';
              });
            } else {
              // Server sent a redirect, follow it
              window.location.href = '/';
            }
          })
          .catch((error) => {
            console.error('Logout error:', error);
            // Fallback redirect
            window.location.href = '/';
          });

        return false;
      }
    </script>
  </body>
</html>
